@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span, strong, a, li, input, button {
    font-family: 'Roboto', sans-serif;
}

header, footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

.container {
    width: 100%;
    height: 80vh;
}

.title {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #666;
}

.animals {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80%;
}

.line {
    height: 90%;
    width: 5px;
    background-color: #ccc;
}

.dogs, .cats {
    height: 100%;
    display: grid;
    justify-items: end;
    align-content: space-evenly;
}

.dogs img, .cats img {
    width: 500px;
    height: 200px;
}

.dogs a, .cats a {
    text-decoration: none;
    text-align-last: center;
    width: 150px;
    padding: 10px;
    font-weight: bolder;
    color: #fff;
    background-color: #5c5c5c;
    border-radius: 10px;
    transition: 300ms;
}

.dogs a:hover, .cats a:hover {
    background-color: #333;
}

.motives {
    width: 100%;
    text-align: center;
}

.motives h1 {
    padding: 10px;
    color: #666;
}

.motives ul {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #8c528c;
}

.motives ul li {
    margin: 10px auto;
    background-color: #fff;
    color: #8c528c;
    padding: 10px;
    border-radius: 20px;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}

/*
    FINAL DA ESTILIZAÇÃO HOME 

    INICIO DA ESTILIZAÇÃO DOGS E CATS
*/

.dog-header, .cat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 20px;
}

.dog-header a, .cat-header a {
    text-decoration: none;
    color: #000;
}

.dog-header a:hover, .cat-header a:hover {
    text-decoration: underline;
}

.dog-container, .cat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
}

.dog-wrapper img, .cat-wrapper img {
    width: 200px;
    height: 200px;
}

.dog-wrapper .info, .cat-wrapper .info {
    padding: 10px 0;
}

.dog-wrapper .button, .cat-wrapper .button {
    display: flex;
    justify-content: flex-end;
}

.dog-wrapper .button a, .cat-wrapper .button a {
    text-decoration: none;
    color: #fff;
    background-color: #8c528c;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.dog-wrapper .button a:hover, .cat-wrapper .button a:hover {
    border: 2px solid #000;
}

/*
    FINAL DA ESTILIZAÇÃO DOGS E CATS

    INICIO DA CONTACT
*/

.contact {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.contact-header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.contact-header a {
    text-decoration: none;
    color: #000;
}

.contact-header a:hover{
    text-decoration: underline;
}

.contact-container {
    width: 500px;
    height: 100%;
    margin: 20px auto;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ccc;
}

.contact-container h4 {
    width: 80%;
    margin: 0 auto;
}

.contact-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container form input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.contact-container form button {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    color: #fff;
    background-color: #8c528c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}